<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngeeann.myinternship20">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".InternPersonalDataView" />
        <activity android:name=".StudentPersonalDataViewing" />
        <activity android:name=".StaffAttendanceDataMoreInfo" />
        <activity android:name=".StaffAttendanceDataHome" />
        <activity android:name=".MainUiStaff" />
        <activity android:name=".NpisStudentDataHome" />
        <activity android:name=".StudentAttendance" />
        <activity android:name=".InternLog" />
        <activity android:name=".LoginSetup" />
        <activity android:name=".MainUiNPIS" />
        <activity android:name=".MainUiIntern" />
        <activity android:name=".MainUiStudent" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".LoginMainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>